*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;

}
body{
    font-family: "Open Sans","PingFang SC","Microsoft YaHei","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif!important;
}